* {
    font-family: monospace
}

.list-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center
}

#start-rank, #new-rank, #old-rank {
    width: 430px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px
}

.list-entry {
    display: flex;
    align-items: center;
    margin: 20px
}

.list-image {
    filter: grayscale(100%);
    width: 40px;
    height: 40px;
    margin: 0px 10px
}

.rank-title {
    text-align: center;
    display: block
}