* {
    font-family: monospace
}

.list-image, .results-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    width: 40px;
    height: 40px;
    margin: 0px 10px
}

.list-rank {
    display: inline-block;
    width: 22px;
    margin-right: 3px
}

.search-result {
    margin: 10px
}

.search-result-text {
    display: inline-block;
    vertical-align: middle
}

.search-result-term-highlight {
    background-color: greenyellow;
    border-radius: 3px
}

.search-result-name {
    font-weight: bold
}

.results-image {
    display: inline-block;
    vertical-align: middle
}

#results-container {
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 930px
}

#search {
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 20px;
    padding: 10px
}

#start-rank, #new-rank, #old-rank {
    width: 430px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px
}

.list-entry {
    display: flex;
    align-items: center;
    margin: 20px
}

.rank-title {
    text-align: center;
    display: block
}

#old-rank {
    color: white;
    background-color: black
}